# Dependencies
node_modules/

# Build outputs
dist/
lib/
out/
build/

# Environment variables
.env
.env.*

# Firebase
firebase-debug.log
firebase-debug.*.log
.firebase/

# Astro
.astro/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
